:root {
    --surface-lv0-color: #F5F6F8;
    --surface-lv1-color: #FFF;
    --brand-color: #109CF1;
    --brand-color-shadow: #109bf180;
    --text-color-primary: #192A3E;
    --divider-color: #DEDEDE;
}
