.section {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-inline-size: 1048px;
    padding-inline: 12px;
}

.employees-page-header {
    margin-block-end: 70px;
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 39px;
}
