.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    block-size: 100%;
    gap: 10px;
    margin-block-start: 30px;
}

.search-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--surface-lv1-color);
    block-size: 61px;
    gap: 10px;
}

.search-wrapper::before {
    display: block;
    align-self: stretch;
    background-color: var(--divider-color);
    content: "";
    min-block-size: 1px;
    min-inline-size: 1px;
}

.search-input {
    flex-grow: 1;
    order: -1;
}
